<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="General" type="NeuronDocumentSyncService.Cfg.GeneralConfigSection, NeuronDocumentSyncService"/>
    <section name="FbDatabase" type="NeuronDocumentSyncService.Cfg.FbDbConfigSection, NeuronDocumentSyncService"/>
  </configSections>
  <General 
    tempDirectoryPath="" 
    isServiceTimeEnable="false" serviceTimeStart="23:00:00"
    serviceTimeEnd="00:00:00" syncOperationBreakValue="10000"
    webImportUrl="http://localhost:18691/"/>
  <FbDatabase
    charset=""
    userName=""
    password=""
    hostName="localhost"
    dbFilePath="C:\Neuron\Database\DOCUMENTDELIVERY.FDB"
    portNumber="0" />
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>